COMBO(toggle_aoe_layer,     &tog AOE,                   20 10 11,   DEF AOE, 60)

COMBO(aoe_left_esc,         &kp ESCAPE,                  1  2  3,       AOE, 60)
COMBO(aoe_left_tab,         &kp TAB,                     1     3,       AOE, 60)
COMBO(aoe_left_enter,       &hrml LA(LS(LCTRL)) ENTER,  11 12 13,       AOE, 60)
COMBO(aoe_left_backspace,   &hrml LA(LCTRL) BSPC,       11    13,       AOE, 60)

COMBO(aoe_right_esc,        &kp ESCAPE,                  6  7  8,       AOE, 60)
COMBO(aoe_right_tab,        &kp TAB,                     6     8,       AOE, 60) 
COMBO(aoe_right_enter,      &hrmr RA(LS(RCTRL)) ENTER,  16 17 18,       AOE, 60) 
COMBO(aoe_right_backspace,  &hrmr LA(LCTRL) BSPC,       16    18,       AOE, 60)